{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tags_title'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tags_title'|trans }}</h1>

    <h2>
        <a href="{{ url('tag_create')}}" title="{{ 'action.create'|trans }}">
            {{ 'action.create'|trans }}
        </a>
    </h2>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.created_at'|trans }}</th>
                <th>{{ 'label.updated_at'|trans }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
                {% if is_granted('ROLE_USER') %}
                    <th>{{ 'label.actions'|trans }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.createdAt|format_date('long') }}</td>
                    <td>{{ tag.updatedAt|format_date('long') }}</td>
                    <td>
                        <a href="{{ url('tag_posts', {id: tag.id}) }}" title="{{ 'action.tag_posts'|trans }}">
                            {{ tag.title }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                    </td>
                    {% if is_granted('ROLE_USER') %}
                    <td>
                        <a href="{{ url('tag_edit', {id: tag.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('tag_delete', {id: tag.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}